* {
    margin: 0;
    padding: 0;
    min-height: 4em;
}

header{
    background: rgb(116, 158, 172);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
form{
    background: rgb(255, 68, 0);
    min-height: 2em;
    width: 16.789%;
}
nav{
    background: rgb(0, 255, 0);
    width: 100%;
}
main{
    background: rgb(255, 0, 0);
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer{
    background: rgb(16, 219, 255);
    width: 100%;
}

/* pour adapter a la taille de l'ecran*/
body {
    font-size: 18px;
    display: flex;
    flex-direction: row;
  }
  
  
  @media screen and (max-width: 768px) {
    body {
      flex-direction: column;
      font-size: 16px;
    }
  
    header nav {
      flex-direction: column;
    }
  }
  