* {
    margin: 0;
    padding: 0;
    min-height: 4em;
}
body{
    
}
header{
    background: rgb(116, 158, 172);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
form{
    background: rgb(255, 68, 0);
    min-height: 2em;
    width: 16.789%;
}
nav{
    background: rgb(0, 255, 0);
    width: 100%;
}
main{
    background: rgb(255, 0, 0);
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
article{
    background: rgb(255, 255, 0);
    width: 30%;
}
article img{
    width: 100%;
}
article p{
    margin: 2em 0;
}
footer{
    background: rgb(16, 219, 255);
    width: 100%;
}